//! **************************************************************************
// Written by: Map P.20131013 on Mon Jan 22 19:48:05 2018
//! **************************************************************************

SCHEMATIC START;
NET "Clk_BUFGP/IBUFG" BEL "Clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

